
/* icon toogle */

.fa.fa-hover-hidden {

}
.fa.fa-hover-show {

}

* > .fa.fa-hover-show,
:hover > .fa.fa-hover-hidden {
    display: none;
}

*:hover > .fa.fa-hover-show {
    display: inline-block;
}


/* Search wrap */


.search-style-5 form .form-search-5 {
  position: relative;
}

.search-style-5 form .form-search-5 input {
  background-color: transparent;
  width: 350px;
  font-weight: 300;
  color: #B3B5C2;
  border: none;
  height: 42px;
  padding: 2px 40px 2px 0;
  border-bottom: 1px solid #D9DFE6;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .search-style-5 form .form-search-5 input {
    width: 250px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .search-style-5 form .form-search-5 input {
    width: 180px;
  }
}

.search-style-5 form .form-search-5 button {
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  font-size: 20px;
  color: #081348;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  background-color: transparent;
}

.search-style-5 form .form-search-5 button:hover {
  color: #444E7A;
}




/* Short by */
