
 /* Slide Button */
.button_slide {
  color: #FFF;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #D80286;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #D80286;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #D80286;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

/* product page image */

.ppb-product-wrap .ppb-gnxt-pro-title {
  position: relative;
  overflow: hidden;
  position: absolute;
  z-index: 9;
  text-align: center;
  top: 43%;
  left: 16%;
}

.ppb-product-wrap .ppb-gnxt-pro-title h1 {
  font-size: 65px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ppb-product-wrap .ppb-gnxt-pro-title {

  }
}

@media only screen and (max-width: 767px) {
  .ppb-product-wrap .ppb-gnxt-pro-title {
    padding: 21px 10px 20px;
    left: 10px;
    right: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .ppb-product-wrap .ppb-gnxt-pro-title {
    padding: 51px 10px 50px;
    top: 31%;
    left: 8%;
  }
}



.ppb-product-wrap {
  position: relative;
  overflow: hidden;

}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .ppb-product-wrap.mb-100 {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ppb-product-wrap.mb-100 {
    margin-bottom: 30px;
  }

  .ppb-product-wrap.mb-90 {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ppb-product-wrap.mb-55 {
    margin-bottom: 40px;
  }

  .ppb-product-wrap.mb-50 {
    margin-bottom: 40px;
  }

  .ppb-product-wrap.mb-100 {
    margin-bottom: 40px;
  }

  .ppb-product-wrap.mb-90 {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .ppb-product-wrap.mb-55 {
    margin-bottom: 30px;
  }

  .ppb-product-wrap.mb-50 {
    margin-bottom: 30px;
  }

  .ppb-product-wrap.mb-100 {
    margin-bottom: 30px;
  }

  .ppb-product-wrap.mb-90 {
    margin-bottom: 30px;
  }
}

.ppb-product-wrap .product-img {
  overflow: hidden;
  position: relative;
}

.ppb-product-wrap .product-img a {
  display: block;
}

.ppb-product-wrap .product-img a img {
  width: 100%;
}

.ppb-product-wrap .product-img.product-img-zoom a img {
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* Banner 01 */

.banner-wrap .banner-position-01 {
  color: #ffffff;
  position: absolute;
  left: 5%;
  top: 85%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-wrap .banner-content-01 span {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.banner-wrap .banner-content-01 h2 {
  font-size: 29px;
  font-weight: 500;
  margin: 0;
}

.banner-wrap .banner-content-01 h2.bold {
  font-weight: bold;
}

.banner-wrap .banner-content-01 h3 {
  font-size: 60px;
  font-weight: bold;
  margin: 16px 0 52px;
}

.banner-btn-01 {
  padding-top: 20px;
}

.banner-btn-01 a {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  background: #fff;
  border-radius: 50px;
  padding: 8px 15px 8px 15px;
}

.banner-btn-01 a:hover {
  color: #fff;
  background: #000;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-wrap .banner-position-01 {
    left: 30px;
  }

  .banner-wrap .banner-content-01 h2 {
    font-size: 25px;
  }

  .banner-wrap .banner-content-01 h3 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-wrap .banner-position-01 {
    left: 40px;
  }

  .banner-wrap .banner-content-01 h2 {
    font-size: 20px;
  }

  .banner-wrap .banner-content-01 h3 {
    font-size: 40px;
    margin: 16px 0 15px;
  }
}

@media only screen and (max-width: 767px) {
  .banner-wrap .banner-position-01 {
    left: 20px;
  }

  .banner-wrap .banner-content-01 h2 {
    font-size: 18px;
  }

  .banner-wrap .banner-content-01 h3 {
    font-size: 30px;
    margin: 12px 0 10px;
  }

  .banner-btn-01 {
    font-size: 10px;
    padding-top: 10px;
  }

  .banner-btn-01 a {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
  }
}

/* Banner-02 */

.banner-wrap .banner-position-02 {
  position: absolute;
  left: 5%;
  top: 93%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-btn-02 a {
  z-index: 2;
  color: #fff;
  background: #000;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  border-radius: 50px;
  padding: 8px 15px 8px 15px;
}

.banner-btn-02 a:hover {
  color: #000;
  background: #fff;
  border: 1px solid #000;
}

.banner-wrap .banner-content-02 span {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.banner-wrap .banner-content-02 h2 {
  font-size: 29px;
  font-weight: 500;
  margin: 0;
}

.banner-wrap .banner-content-02 h2.bold {
  font-weight: bold;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-wrap .banner-content-02 h2 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-wrap .banner-content-02 h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .banner-wrap .banner-content-02 h2 {
    font-size: 18px;
  }
  .banner-btn-02 {
    font-size: 10px;
    padding: 10px 0px 0px 10px;
  }
  .banner-btn-02 a {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
  }
}

/* Banner-03 */

.banner-wrap .banner-position-03 {
  left: 50%;
  top: 50%;
  text-align: right;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-wrap .banner-content-03 span {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.banner-wrap .banner-content-03 h2 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.banner-wrap .banner-content-03 h3 {
  font-size: 60px;
  font-weight: bold;
  margin: 16px 0 52px;
}

.banner-btn-03 {
  padding: 20px 0px 0px 10px;
}

.banner-btn-03 a {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  background: #fff;
  border-radius: 50px;
  padding: 8px 15px 8px 15px;
}

.banner-btn-03 a:hover {
  color: #fff;
  background: #000;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-wrap .banner-position-03 {
    left: 40%;
  }
  .banner-wrap .banner-content-03 h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-wrap .banner-position-03 {
    left: 40%;
  }
  .banner-wrap .banner-content-03 span {
    font-size: 15px;
  }
  .banner-wrap .banner-content-03 h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .banner-wrap .banner-position-03 {
    left: 40%;
  }
  .banner-wrap .banner-content-03 span {
    font-size: 12px;
  }

  .banner-wrap .banner-content-03 h2 {
    font-size: 30px;
  }

  .banner-btn-03 {
    font-size: 10px;
    padding: 10px 0px 0px 10px;
  }
  .banner-btn-03 a {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
  }
}
