
/* Product Image Button */

/* 360 Button */

.pixicon360 {
    width: 45px;
    height: 45px;
    line-height: 54px;
    border: 1px solid #DEDEDE;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 20px;
    cursor: pointer;
    background: #DEDEDE;
  }
  
  .pixicon360:hover {
    opacity: 1;
    background-color: #000000;
  }
 
  .pixicon-360 {
    background-size: 30px;
    background-image: url(/assets/images/icon-img/360.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .pixicon-360:hover,
  .pixicon-360:focus {
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(16deg) brightness(100%)
      contrast(92%);
  }

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .pixicon360 {
        width: 35px;
        height: 35px;
    }
    .pixicon-360 {
        background-size: 25px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 575px) {
    .pixicon360 {
        width: 30px;
        height: 30px;
    }
    .pixicon-360 {
        background-size: 20px;
    }
}

  
  /* Video Button */
  
  .pixiconvdo {
    width: 45px;
    height: 45px;
    line-height: 54px;
    border: 1px solid #DEDEDE;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 75px;
    cursor: pointer;
    background: #DEDEDE;
  }
  
  .pixiconvdo:hover {
    opacity: 1;
    background-color: #000000;
  }
  
  .pixicon-vdo {
    background-size: 30px;
    background-image: url(/assets/images/icon-img/vdo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .pixicon-vdo:hover,
  .pixicon-vdo:focus {
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(16deg) brightness(100%)
      contrast(92%);
  }



  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .pixiconvdo {
        width: 35px;
        height: 35px;
    }
    .pixicon-vdo {
        background-size: 25px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 575px) {
    .pixiconvdo {
        width: 30px;
        height: 30px;
    }
    .pixicon-vdo {
        background-size: 20px;
    }
}






  
  /* Video Block */
  
  .button-vdo {
    width: 59px;
    height: 59px;
    line-height: 54px;
    border: 2px solid #eaeaea;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 17px;
    cursor: pointer;
  }
  
  .button-vdo span {
    font-weight: bold;
  }
  
  .js-product-vdo {
    max-width: 500px;
    max-height: 500px;
  }
  
  .vdo-frame {
    left: 0px;
    width: 100%;
    height: 0px;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
  }
  
  .product-vdo-view-wrapper {
    position: relative;
    max-width: 800px;
    margin: 100px auto;
  }
  
  .vdo {
    vertical-align: middle;
  }
  
  .vdo-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .vdo-rounded {
    border-radius: 6px;
  }
  
  .vdo-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  
  .vdo-circle {
    border-radius: 50%;
  }
  
  .modal-content-vdo {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: .3rem;
    outline: 0
  }
  .product-vdo-view-wrapper div .close{
    z-index:10;
    bottom:-30px;
    right:15px;
    color: red;
    position:relative;
    padding-top:-5px;
  
   }
   
  
  